
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    background: #949494;
    opacity: .6;
}

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
    margin: 0px 4px;
}

.swiper-pagination-bullet-active {
    width: 24px;
    background: #0b9eec;
    opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination {
    text-align: center;
    /*padding-right: 100px;*/
}

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet:last-child {
    /*margin-right: 100px;*/
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("../images/index-arrL.png");
    width: 90px;
    height: 90px;
    background-size: 100%;
    opacity: 0.7;
    left: 40px;
}

.swiper-button-prev:hover, .swiper-container-rtl .swiper-button-next:hover {
    opacity: 1;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("../images/index-arrR.png");
    width: 90px;
    height: 90px;
    background-size: 100%;
    opacity: 0.7;
    right: 40px;
}

.swiper-button-next:hover, .swiper-container-rtl .swiper-button-prev:hover {
    opacity: 1;
}
/*数字滚动插件的CSS可调整样式*/
.mt-number-animate {
    font-family: '微软雅黑';
    line-height: 40px;
    height: 40px; /*设置数字显示高度*/;
    font-size: 36px; /*设置数字大小*/
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.mt-number-animate .mt-number-animate-dot {
    width: 14px; /*设置分割符宽度*/
    line-height: 40px;
    float: left;
    text-align: center;
}

.mt-number-animate .mt-number-animate-dom {
    width: 28px; /*设置单个数字宽度*/
    text-align: center;
    float: left;
    position: relative;
    top: 0;
}

.mt-number-animate .mt-number-animate-dom .mt-number-animate-span {
    width: 100%;
    float: left;
}

.fixFooter{
    position: fixed;
    bottom: 0px;
    z-index: 9999999;
    width: 100%;
    opacity: 0.95;
    background-color: black;
}
.cell{
    margin:0 auto;
    width: 1200px;
}
.close{
    float: right;
    margin-top: 1%
}

